

body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}
.tabla {
    margin: auto;
    width: 900px;
    height: 600px;
    border-collapse: collapse;
    background-color: darkseagreen;
    font-family: 'PT Sans Caption', sans-serif;
}
#rezMi,

#rezOn {
    font-size: 40px;
}
#rezIsto {
    font-size: 32px;
}

.tabla #prviRed {
    height: 100px;
    padding-bottom: 50px;
}

.tabla #prviRed td {
    justify-content: center;
    align-items: center;
 
    padding-bottom: 30px;
    color: rgb(71, 71, 71);
}

.tabla #prviRed .protiv {
    padding-bottom: 110px;
    width: 10px;

}


.tabla
h2 {
    text-align: center;
    color:rgb(71, 71, 71) ;
    font-size: 34px;
    background-color:rgb(204, 129, 122) ;
}

#slika1,
#slika2 {
    width: 250px;
    height: 230px;
    font-size: 120px;
    color: rgb(66, 94, 102);

}
#razmak {
    width: 12px;
   
}

#papir,
#kamen,
#makaze,
#nova {
    width: 320px;
    color: darkslategray;
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}


#papir:hover,
#kamen:hover,
#makaze:hover,
#nova:hover {
    background-color: rgb(200, 255, 237);

    color: rgb(109, 184, 184);
}

span {
    color: cadetblue;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: rgb(195, 195, 212);
}






.navig a:hover {
    background-color: darkslategrey;
    color: aliceblue;
}

a.active {
    background-color: rgb(124, 201, 201);
    color: aliceblue;
}




.tabla td {
    padding: 10px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: rgb(71, 71, 71);
    font-size: 24px;


}


#rezultat {
    font-size: 34px;
    color: rgb(71, 71, 71);
}








h2 {
    background-color: rgb(199, 201, 170);
    color: rgb(48, 49, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* td {
    height: 20px;
    width: 130px;
    vertical-align: bottom;
    text-align: right;
    background-color: darkseagreen;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 20px;
} */
@media screen and (max-width: 500px) {
    .tabla {
        margin: auto;
        max-width: 950px;
        min-width: 950px;
        height: 800px;
        border-collapse: collapse;
    };
    .tabla #prviRed {
     
  
        padding-bottom: 40px;
        color: rgb(71, 71, 71);
    };
    #slika1,
#slika2 {
    width: 450px;
    height: 230px;
    font-size: 120px;
    color: rgb(66, 94, 102);

};


};



