


.tabla {
    margin: auto;
    width: 600px;
    height: 400px;
    border-collapse: collapse;
}
#rezMi,
#rezIsto,
#rezOn {
    font-size: 32px;
}
.tabla #prviRed {
    height: 100px;
    padding-bottom: 50px;
}

.tabla #prviRed td {
    justify-content: center;
    align-items: center;
    width: 290px;
    padding-bottom: 40px;
    color: rgb(71, 71, 71);
}

.tabla #prviRed .protiv {
    padding-bottom: 110px;
    width: 20px;

}



h2 {
    text-align: center;
    color: rgb(112, 112, 161);
    font-size: 28px;
}

#slika1,
#slika2 {
    width: 150px;
    height: 230px;
    font-size: 120px;
    color: rgb(66, 94, 102);

}
#slika1 #covek,
#slika2 #masina {
    width: 120px;
   
}

#papir,
#kamen,
#makaze,
#nova {
    color: darkslategray;
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#papir:hover,
#kamen:hover,
#makaze:hover,
#nova:hover {
    background-color: rgb(200, 255, 237);

    color: rgb(109, 184, 184);
}

span {
    color: cadetblue;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: rgb(195, 195, 212);
}






.navig a:hover {
    background-color: darkslategrey;
    color: aliceblue;
}

a.active {
    background-color: rgb(124, 201, 201);
    color: aliceblue;
}




.tabla td {
    padding: 10px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: rgb(71, 71, 71);
    font-size: 24px;


}


#rezultat {
    font-size: 24px;
    color: rgb(71, 71, 71);
}
.saka {
  display: inline-block;

    transform: rotate(90deg);
    background-color: blue;
}








h2 {
    background-color: rgb(199, 201, 170);
    color: rgb(48, 49, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


td {
    height: 20px;
    width: 130px;
    vertical-align: bottom;
    text-align: right;
    background-color: darkseagreen;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 20px;
}




