.tabla {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
    background-color: lightgray;
    margin: auto;
    width: 800px;
    height: 900px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tabla h2 {
    font-size: 22px;
}

#brojevi {

    padding: 10px;
    display: flex;
    font-size: 44px;
    width: 600px;
    font-weight: bold;
    text-shadow: 1px 1px 7px black;
    align-content: space-between;
    border-top: 1px solid gray;
}

#rezMi,
#rezIsto,
#rezOn {
    width: 200px;
}

#prviRed {
    display: flex;


}

.naziv {
    padding: 10px 100px;
}

#slika1,
#slika2 {
    padding-top: 30px;
    background-color: beige;
    border-radius: 20px;
    border: 1px solid gray;
    width: 300px;
    height: 230px;
    font-size: 150px;
}

#prviRed #razmak {
    width: 100px;
    /* align-items: center; */
    text-align: center;

    padding-top: 80px;
    font-size: 48px;
}

#rezultat {

    font-size: 32px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 3px black;
}

#dugmad {
    display: flex;
    flex-direction: column;

}

#papir,
#kamen,
#makaze {
    width: 220px;
    height: 50px;
    border-radius: 8px;
    font-size: 24px;
    margin: 7px;
    text-align: left;
    cursor: pointer;
  padding-left: 12px;
}

#papir:hover,
#kamen:hover,
#makaze:hover {
    background-color: rgb(254, 206, 148);
}

#papir:disabled,
#kamen:disabled,
#makaze:disabled {
    background-color: rgb(164, 159, 153);
    cursor: not-allowed;
}

#wraper {
    display: flex;
    width: 800px;
    height: 120px;

    padding-top: 50px;
    align-content: space-between;
}

.nova {
    width: 210px;
    height: 40px;
    border-radius: 9px;
    font-size: 22px;
    margin-left: 20px;

    background-color: rgb(134, 248, 186);
    cursor: pointer;
}

#nova:hover {
    background-color: rgb(62, 232, 175);
}

@media screen and (max-width: 450px) {
    .tabla {

        width: 1100px;
        background-color: rgb(178, 223, 190);
        height: 2300px;
    }

    .tabla h2 {
        font-size: 28px;
    }
    .tabla p {
        font-size: 24px;
    }
    #brojevi {
        font-size: 80px;
    }

    .naziv {
        padding: 15px 150px;
    }

    #slika1,
    #slika2 {
        width: 340px;
        height: 380px;
        font-size: 260px;
    }

    #prviRed #razmak {
        padding-top: 200px;
    }

    #dugmad {
        display: flex;
        flex-direction: column;

    }

    #papir,
    #kamen,
    #makaze {
    
        width: 470px;
        height: 110px;
        border-radius: 25px;
        font-size: 48px;
        margin: 20px;
        padding-left: 20px;
    }

    .nova
    {
        width: 320px;
        height: 110px;
        border-radius: 25px;
        font-size: 50px;

        background-color: rgb(134, 248, 186);
        cursor: pointer;
    }
}